<nav>
  <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
    <button
      *ngFor="let category of tabCategories; let idx = index"
      class="nav-link flex-grow-1 flex-shrink-1"
      [ngClass]="{'active': idx === activeTab}"
      type="button"
      role="tab"
      (click)="changeActiveTab(idx)"
    >{{ tabNames[category] }}</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent" *ngIf="transactions && transactions.length">
  <div role="tabpanel">
    <table class="table table-sm w-100 mt-5">
      <thead class="text-center">
        <tr>
          <td class="w-70" style="border-top: unset">Name</td>
          <td class="w-30" style="border-top: unset">Amount</td>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let transaction of transactions">
          <td class="w-70"> {{ transaction.name.first + ' ' + transaction.name.last }}</td>
          <td class="w-30"> {{ transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
